h1, h2, h3, h4, h5, h6, p{
    margin: 0px;
    padding: 0px;
}

img{
    /* width: 100%; */
    display: block;
}


a{
    text-decoration: none;
}

ul, ol{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Inter';
    font-weight: 400;
}

button {
    cursor: pointer;
}

button:hover {
    background-color: transparent;
}