body {
    margin: 0;
}

.articles {
    background-color: #E7DFD8;
}


.Questions {
    background-color: #101010;
    margin: 0;
    color: #E4D8CC;
}

.bonus-mission {
    background-image: url(./img/BONUS.png); 
    background-repeat: no-repeat ;
    background-size: cover;
    min-height: 600px;
}

h2 {
    margin: 0;
}

hr {
    margin: 0;
    color: #E4D8CC;
    width: 100px;
    margin-left: 50px;
}
